:root {
  font-size: 0.9375em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: Inter;
    src: url("../assets/fonts/static/Inter-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: Inter;
    src: url("../assets/fonts/static/Inter-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: Inter;
    src: url("../assets/fonts/static/Inter-ExtraBold.ttf");
    font-weight: 800;
  }
}
body {
  background-color: hsl(36deg, 100%, 99%);
  padding: 1.8666666667rem 1.0666666667rem 5.3333333333rem;
  font-family: Inter, "sans-serif";
  position: relative;
  overflow-x: hidden;
}
@media (min-width: 500px) {
  body {
    padding-inline: min(150px, 0.268 * 100vw + -118px);
  }
}
@media (min-width: 1000px) {
  body {
    padding-top: 5.9333333333rem;
    padding-inline: min(165px, 0.2613636364 * 100vw + -211.3636363636px);
    padding-bottom: 8.6rem;
  }
}

a:any-link {
  text-decoration: none;
  color: currentColor;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.1333333333rem;
  margin-inline: auto;
}
@media (min-width: 1000px) {
  .header {
    margin-bottom: 3.6666666667rem;
    max-width: none;
  }
}

.header__logo {
  width: 3rem;
}
@media (min-width: 1000px) {
  .header__logo {
    width: 4.2726666667rem;
  }
}

.menu-hamburger-close, .menu-hamburger {
  cursor: pointer;
}
@media (min-width: 600px) {
  .menu-hamburger-close, .menu-hamburger {
    display: none;
  }
}

.menu-hamburger-close {
  width: 2.0333333333rem;
  position: absolute;
  top: 1.82rem;
  right: 1.3866666667rem;
}

.navigation__backdrop {
  display: none;
  position: absolute;
  inset: 0;
  background-color: hsla(240deg, 100%, 5%, 0.5);
}

.header__navigation {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 17.0666666667rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  translate: 100%;
  transition: translate 0.2s ease;
  font-size: 1.2rem;
  line-height: 1.3333333333;
  font-weight: 400;
  padding-top: 9.6rem;
  padding-left: 1.6rem;
  color: hsl(240deg, 100%, 5%);
}
.header__navigation > a:hover {
  color: hsl(5deg, 85%, 63%);
}
@media (min-width: 600px) {
  .header__navigation {
    position: static;
    flex-direction: row;
    width: auto;
    translate: none;
    padding: 0;
    justify-content: center;
    gap: 2.6666666667rem;
    font-size: 1rem;
    line-height: 1.7333333333;
    font-weight: 400;
    color: hsl(236deg, 13%, 42%);
  }
}

.main {
  max-width: 31.3333333333rem;
  margin-inline: auto;
}
@media (min-width: 1000px) {
  .main {
    display: grid;
    grid-template-columns: 65.7657657658% 31.5315315315%;
    column-gap: 2rem;
    row-gap: 4.7333333333rem;
    max-width: none;
  }
}

.section-top {
  margin-bottom: 4.2666666667rem;
}
@media (min-width: 1000px) {
  .section-top {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 2rem;
  }
  .section-top > picture {
    grid-column: span 2;
    font-size: 0;
  }
}

.hero-img {
  margin-bottom: 1.6rem;
}
@media (min-width: 1000px) {
  .hero-img {
    margin: 0;
  }
}

.section-top__heading {
  font-size: 2.6666666667rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 0.4em;
  color: hsl(240deg, 100%, 5%);
}
@media (min-width: 1000px) {
  .section-top__heading {
    font-size: 3.7333333333rem;
    line-height: 1;
    margin: 0;
    align-self: center;
  }
}

.section-top__paragraph {
  font-size: 1rem;
  line-height: 1.7333333333;
  font-weight: 400;
  margin-bottom: 1.6em;
  color: hsl(236deg, 13%, 42%);
}
@media (min-width: 1000px) {
  .section-top__paragraph {
    margin-bottom: 1.9333333333em;
  }
}

.section-top__cta-button {
  border: 0;
  background-color: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
  font-size: 0.9333333333rem;
  line-height: 1.7142857143;
  font-weight: 700;
  letter-spacing: 4.375px;
  padding: 0.8571428571em 2.3571428571em;
  text-transform: uppercase;
  cursor: pointer;
}
.section-top__cta-button:hover {
  background-color: hsl(240deg, 100%, 5%);
}

.section-middle {
  background-color: hsl(240deg, 100%, 5%);
  padding: 1.6rem 1.3333333333rem;
  margin-bottom: 4.2666666667rem;
}
@media (min-width: 1000px) {
  .section-middle {
    padding: 2.1333333333rem 1.6rem;
    margin: 0;
  }
}

.section-middle__heading {
  color: hsl(35deg, 77%, 62%);
  font-size: 2.1333333333rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 1.09375em;
}
@media (min-width: 1000px) {
  .section-middle__heading {
    font-size: 2.6666666667rem;
    line-height: 1;
    margin-bottom: 0.85em;
  }
}

.section-middle__subheading {
  color: hsl(36deg, 100%, 99%);
  font-size: 1.3333333333rem;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 0.4em;
}
.section-middle__subheading:hover {
  color: hsl(35deg, 77%, 62%);
}

.section-middle__paragraph {
  color: hsl(233deg, 8%, 79%);
  font-size: 1rem;
  line-height: 1.7333333333;
  font-weight: 400;
}

.section-middle__article:not(:last-of-type) {
  padding-bottom: 1.9333333333rem;
  border-bottom: 1px solid hsl(233deg, 8%, 79%);
  margin-bottom: 2.0666666667rem;
}

.section-bottom {
  display: flex;
  flex-direction: column;
  gap: 2.1333333333rem;
}
@media (min-width: 1000px) {
  .section-bottom {
    flex-direction: row;
    grid-column: span 2;
    gap: 2rem;
    justify-content: space-between;
  }
}

.section-bottom__article {
  display: flex;
  gap: 1.6rem;
}
.section-bottom__article > img {
  width: 6.6666666667rem;
  align-self: center;
}

.section-bottom__nr {
  font-size: 2.1333333333rem;
  line-height: 1;
  font-weight: 700;
  color: hsl(233deg, 8%, 79%);
  margin-bottom: 0.375em;
}

.section-bottom__heading {
  font-size: 1.2rem;
  line-height: 1.3333333333;
  font-weight: 800;
  color: hsl(240deg, 100%, 5%);
  margin-bottom: 0.5em;
}
.section-bottom__heading:hover {
  color: hsl(5deg, 85%, 63%);
}

.section-bottom__paragraph {
  font-size: 1rem;
  line-height: 1.7333333333;
  font-weight: 400;
  color: hsl(236deg, 13%, 42%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1em;
  left: 50%;
  translate: -50%;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
